<section>
    <div class="swiper-container swiper-slider swiper-variant-1 bg-black" data-loop="false" data-autoplay="false" data-simulate-touch="true">
        <div class="swiper-wrapper text-center">
            <div class="swiper-slide" data-slide-bg="../../assets/images/non-profit.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-11 col-lg-10">
                                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">Non Profit <span class="border-modern-item-1"></span><span class="border-modern-item-2"></span><span class="border-modern-item-3"></span><span class="border-modern-item-4"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/tax.jpg">
                <div class="swiper-slide-caption">

                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-11 col-lg-10">
                                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">individual taxes<span class="border-modern-item-1"></span><span class="border-modern-item-2"></span><span class="border-modern-item-3"></span>
                                    <span class="border-modern-item-4"></span>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="450s">
                                    <p class="text-big-19 text-white d-none d-md-inline-block">planning and returns preparation
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/business-specialists.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-11 col-lg-10">
                                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">small business specialists <span class="border-modern-item-1"></span><span class="border-modern-item-2"></span><span class="border-modern-item-3"></span><span class="border-modern-item-4"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/local-gvt.jpg">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="row justify-content-sm-center">
                            <div class="col-md-11 col-lg-10 col-xl-12">
                                <div class="text-white text-uppercase jumbotron-custom border-modern" data-caption-animate="fadeInUp" data-caption-delay="0s">local government contracts
                                    <span class="border-modern-item-1"></span><span class="border-modern-item-2"></span><span class="border-modern-item-3"></span><span class="border-modern-item-4"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar d-xl-none"></div>
        <div class="swiper-nav-wrap d-none d-xl-block">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>

<section class="section-with-counters bg-accent text-center">
    <div class="container bg-cape-cod context-dark section-60 section-lg-90">
        <h3 class="section-title">WHO WE ARE
        </h3>
        <p class="text-white">Any accounting firm will be known for the quality of its service. Our firm’s reputation reflects the high standards we demand of ourselves. Our primary goal as trusted advisers is to be available to provide insightful advice to enable our clients
            to make informed financial decisions. We do not accept anything less from ourselves and this is what we deliver to you.</p>
    </div>
</section>
<!--Icon box-->
<section>
    <div class="row no-gutters justify-content-sm-center justify-content-md-start row-40 row-sm-0">
        <div class="col-sm-10 col-md-4 height-fill">
            <article class="icon-box icon-box-top-line icon-box-hover">
                <div class="box-top">
                    <div class="box-icon"><span class="icon icon-lg icon-1"></span></div>
                    <div class="box-header">
                        <h5><a routerLink="services">Service you can rely on</a></h5>
                    </div>
                </div>
                <div class="box-body">
                    <p class="text-black text-center">Audit services are designed to help your business mitigate risk, create new efficiencies and better support strategic objectives...</p>
                </div>
                <a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#">read more</a>
            </article>
        </div>
        <div class="col-sm-10 col-md-4 height-fill">
            <article class="icon-box icon-box-top-line icon-box-hover">
                <div class="box-top">
                    <div class="box-icon"><span class="icon icon-lg icon-2"></span></div>
                    <div class="box-header">
                        <h5><a routerLink="resources">Resources</a></h5>
                    </div>
                </div>
                <div class="box-body">
                    <p class="text-black">Tax Due Dates, Financial Calculators, IRS Forms and Publications and more One...
                    </p>
                </div>
                <a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#">read more</a>
            </article>
        </div>
        <div class="col-sm-10 col-md-4 height-fill">
            <article class="icon-box icon-box-top-line icon-box-hover">
                <div class="box-top">
                    <div class="box-icon"><span class="icon icon-lg icon-4"></span></div>
                    <div class="box-header">
                        <h5><a href="about-us.html">The support you deserve</a></h5>
                    </div>
                </div>
                <div class="box-body">
                    <p class="text-black">Our Firm Offers Dedicated Support Through Professionalism &...</p>
                </div><a class="btn btn-icon-only btn-icon-single btn-icon-default" href="#"><span
              class="icon icon-sm material-icons-arrow_forward"></span></a>
            </article>
        </div>

    </div>


</section>