<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Tax</h3>
        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">We bring the knowledge of CPAs who know how to work with the IRS, as well as tenured relationships with experienced tax attorneys and other relevant professionals.</p>
                <p class="text-black-05">We take over all communication with the IRS to offer the professional tax help and advice you’re looking for at a reasonable cost.</p>
                <p class="text-black-05">Our areas of expertise in this field include:</p>

                <li class="text-black-05">IRS Audits</li>
                <li class="text-black-05">Settling Back Taxes</li>
                <li class="text-black-05">Overdue Payroll Tax</li>
                <li class="text-black-05">Offer in Compromise</li>
                <li class="text-black-05">Delinquent Tax Returns</li>
                <li class="text-black-05">IRS Payment Plans/Installment Agreements</li>
                <li class="text-black-05">Payroll Tax Problems (941)</li>
                <li class="text-black-05">IRS Bank Levies</li>
                <li class="text-black-05">IRS Tax Liens</li>
                <li class="text-black-05">Innocent Spouse Relief</li>
                <li class="text-black-05">State Tax Issues</li>

                <p class="text-black-05">&nbsp;</p>
                <p class="text-black-05">Please contact us if you have any questions about how NileCPA can help you or your business with an IRS dispute resolution.</p><br>
            </div>
        </div>

    </div>

</section>