<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Compilations Reviews &amp; Audits </h3>
        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">NileCPA has done and continues to do work for many non-profit organizations, primarily doing audits and compilations. The types of non-profits served are health and welfare organizations, those that are subject to governmental auditing
                    standards, and those, for example charter schools, that have to comply with Governmental Accounting Standards Board (GASB) 34 because they are a component unit of a school district.</p>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">Government &amp; Public Sector entities are charged with serving their constituencies and preserving the public trust. For more than 10 years, the Partners in NileCPA have assisted governments, higher education, and other non-profit organizations
                    do just that by providing sector-specific Audit and Advisory services.</p>
                <p class="text-black-05">Our Advisory professionals also provide a broad array of services to help the government enterprise or program or function establish sustainable improvement to performance, operations and quality of service. These include: regulatory and
                    compliance support, contract/sub-recipient monitoring, Quality Assurance/Independent Verification and Validation , business intelligence, IT governance, strategic planning, and policy support, Forensic technology services and more.</p>
                <p class="text-black-05">In addition, we perform A-133 audits,</p>
                <p class="text-black-05">Below are some of the Audit Services we perform for Local governments</p>
                <p class="text-black-05"><span class="text-black-08 font-weight-bold">Compliance Audit</span></p>
                <p class="text-black-05">Looks at whether or not an organization is adhering to specific laws, regulations and the control operations according to policy, directives, standards or contracts.</p>
                <p class="text-black-05">This type of audit is also meant to detect breaches in security and to recommend any indicated changes in systems of control, policy and procedures. It is management’s job to establish the proper control environment and system control
                    activities that are aligned with the organization’s compliance obligations. These control activities usually include the policies, directives, procedures and practices that ensure management objectives are achieved and risk mitigation
                    strategies are carried out.</p>
                <p class="text-black-05"><span class="text-black-08 font-weight-bold">Operational Audits</span></p>
                <p class="text-black-05">Looks at whether or not public funds and resources have been economically, efficiently and effectively managed. This type of audit examines and reports on matters related to any or all of the following:</p>
                <p class="text-black-05">the adequacy of the management systems, controls, and practices including those intended to control and safeguard assets and ensure due regard to economy, efficiency and effectiveness;<br /> the extent to which resources have been managed
                    with due regard to economy and efficiency; and<br /> the extent to which programs, operations or activities of an entity have been effective.</p>
                <p class="text-black-05">Operational auditing fulfills the demand for performance and accountability information that is not being provided by information on financial performance and on compliance with authorities. Operational auditing is based on two principles:
                </p>
                <p class="text-black-05">Public business should be conducted in a way that makes the best possible use of public funds.<br /> People who conduct public business should be accountable for the prudent and effective management of the resources entrusted to them.
                </p>
                <p class="text-black-05"><span class="text-black-08 font-weight-bold">Financial Audit</span></p>
                <p class="text-black-05">Examines how government looks after its accounts and at the records of financial transactions.</p>
                <p class="text-black-05">In financial audits, internal auditors test whether financial transactions support the amounts and disclosures recorded in the government’s accounting system. The scope of the audit may include comparing the results of operations with
                    planned results, assessing the reliability of a department’s financial control systems, and checking how financial information is reported for decision-making.</p>
                <p class="text-black-05">Internal auditors supplement these audit tests by further analysis and discussions with management. Planning decisions on the scope of a financial audit mainly involve the intended degree of audit assurance and the extent of audit work
                    required to provide it.</p>
                <p class="text-black-05"><span class="text-black-08 font-weight-bold">Information Management and Technology (IT) Audit</span></p>
                <p class="text-black-05"><em><span class="text-black-08 font-weight-bold">May include the following:</span></em><br /> Reviews of existing or new information systems, before and after implementation, to ensure they are secure and meet the organization’s needs;
                    <br /> Project management reviews, before or after systems implementation, to ensure controls are in place to mitigate project risks or to identify the strengths and improvements required for future projects; and/or<br /> Specific
                    technology and security reviews to ensure that the technologies are appropriate, and that access to government systems are secure and adequately protected.</p>
                <p class="text-black-05">Due to the complexity and required skill sets to perform some of these reviews, Government Audit Services may work with specialized contractors to ensure high quality analysis and recommendations are provided to management.</p>
                <p class="text-black-05"><span class="text-black-08 font-weight-bold">Performance Audit</span></p>
                <p class="text-black-05">Asks if an entity achieving its goals and at what cost. Performance audits usually address the following questions:</p>
                <p class="text-black-05">Are programs, functions or activities achieving desired results?<br /> Are there appropriate indicators and measures to assess performance?<br /> Are there better ways to achieve the organization’s objectives at lower cost?<br /> Are there
                    ways to improve the quality of service without increasing cost?<br /> Does the program, function or activity comply with applicable laws and regulations?</p>
                <br>
            </div>
        </div>



    </div>

</section>