<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Resources</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <div>
            <h3 class="text-center">Tax Due Dates</h3>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">March 2012</h4>
                    <p class="text-black-05">March 01 &nbsp;&nbsp; &nbsp; Farmers and Fishermen – File your 2011 income tax return (Form 1040) and pay any tax due. However, you have until April 17 to file if you paid your 2011 estimated tax by January 17, 2012.</p>
                    <p class="text-black-05">March 12 &nbsp;&nbsp; &nbsp;Employees who work for tips. – If you received $20 or more in tips during February, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">March 15 &nbsp;&nbsp; &nbsp;Employers – Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in February.</p>
                    <p class="text-black-05">Employers – Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in February. </p>
                    <p class="text-black-05">Corporations – File a 2011 calendar year income tax return (Form 1120) and pay any tax due. If you want an automatic 6-month extension of time to file the return, file Form 7004 and deposit what you estimate you owe.</p>
                    <p class="text-black-05">S Corporations – File a 2011 calendar year income tax return (Form 1120S) and pay any tax due. Provide each shareholder with a copy of Schedule K-1 (Form 1120S), Shareholder’s Share of Income, Credits, Deductions, etc.,or a substitute
                        Schedule K-1. If you want an automatic 6-month extension of time to file the return, file Form 7004 and deposit what you estimate you owe.</p>
                    <p class="text-black-05">Electing large partnerships – Provide each partner with a copy of Schedule K-1 (Form 1065-B), Partner’s Share of Income (Loss) From an Electing Large Partnership. This due date is effective for the first March 15 following the close
                        of the partnership’s tax year. The due date of March 15 applies even if the partnership requests an extension of time to file the Form 1065-B by filing Form 8736 or Form 8800.</p>
                    <p class="text-black-05">
                        S corporation election – File Form 2553, Election by a Small Business Corporation,to choose to be treated as an S corporation beginning with calendar year 2012. If Form 2553 is filed late, S treatment will begin with calendar year 2013.</p>
                    <br>
                </div>
            </div>


            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">April 2012</h4>
                    <p class="text-black-05">April 02 &nbsp;&nbsp; &nbsp;Electronic filing of Forms 1098, 1099, and W-2G – File Forms 1098, 1099, or W-2G with the IRS. This due date applies only if you file electronically (not by magnetic media). Otherwise, see February 28. The
                        due date for giving the recipient these forms will still be January 31. <br> For information about filing Forms 1098, 1099, or W-2G electronically, see Publication 1220, Specifications for Filing Forms 1098, 1099, 5498 and W-2G
                        Magnetically or Electronically. </p>
                    <p class="text-black-05">Electronic filing of Forms W-2 – File copies of all the Forms W-2 you issued for 2011. This due date applies only if you electronically file. Otherwise see February 29. The due date for giving the recipient these forms remains at January
                        31.
                    </p>
                    <p class="text-black-05">April 10 &nbsp;&nbsp; &nbsp;Employees – who work for tips. If you received $20 or more in tips during March, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">April 17 &nbsp;&nbsp; &nbsp;Individuals – File an income tax return for 2011 (Form 1040, 1040A, or 1040EZ) and pay any tax due. If you want an automatic 6-month extension of time to file the return, file Form 4868, Application for
                        Automatic Extension of Time To File U.S. Individual Income Tax Return, or you can get an extension by phone if you pay part or all of your estimate of income tax due with a credit card. Then file Form 1040, 1040A, or 1040EZ by
                        October 15.</p>
                    <p class="text-black-05">Household Employers – If you paid cash wages of $1,700 or more in 2011 to a household employee, file Schedule H (Form 1040) with your income tax return and report any employment taxes. Report any federal unemployment (FUTA) tax on
                        Schedule H if you paid total cash wages of $1,000 or more in any calendar quarter of 2010 or 2011 to household employees. Also report any income tax you withheld for your household employees.</p>
                    <p class="text-black-05">Individuals – If you are not paying your 2012 income tax through withholding (or will not pay in enough tax during the year that way), pay the first installment of your 2012 estimated tax. Use Form 1040-ES.</p>
                    <p class="text-black-05">Partnerships – File a 2011 calendar year return (Form 1065). Provide each partner with a copy of Schedule K-1 (Form 1065), Partner’s Share of Income, Credits, Deductions, etc., or a substitute Schedule K-1. If you want an automatic
                        6-month extension of time to file the return and provide Schedule K-1 or a substitute Schedule K-1, file Form 7004. Then file Form 1065 by September 17.</p>
                    <p class="text-black-05">Electing Large Partnerships – File a 2011 calendar year return (Form 1065-B). If you want an automatic 6-month extension of time to file the return, file Form 7004. Then file Form 1065-B by October 15. See March 15 for the due date
                        for furnishing the Schedules K-1 to the partners.</p>
                    <p class="text-black-05">Corporations – Deposit the first installment of estimated income tax for 2012. A worksheet, Form 1120-W, is available to help you estimate your tax for the year.</p>
                    <p class="text-black-05">Employers – Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in March.</p>
                    <p class="text-black-05">Employers – Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in March.</p>
                    <p class="text-black-05">April 30 Employers – Social Security, Medicare, and withheld income tax. File form 941 for the first quarter of 2012. Deposit any undeposited tax. (If your tax liability is less than $2,500, you can pay it in full with a timely filed
                        return.) If you deposited the tax for the quarter in full and on time, you have until May 10 to file the return.</p>
                    <p class="text-black-05">Employers – Federal Unemployment Tax. Deposit the tax owed through March if more than $500.</p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">May 2012</h4>
                    <p class="text-black-05">May 10 &nbsp;&nbsp; &nbsp;Employers – Social Security, Medicare, and withheld income tax. File form 941 for the first quarter of 2012. This due date applies only if you deposited the tax for the quarter in full and on time.</p>
                    <p class="text-black-05">Employees – who work for tips. If you received $20 or more in tips during April, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">May 15 &nbsp;&nbsp; &nbsp;Employers – Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in April.</p>
                    <p class="text-black-05">Employers – Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in April.</p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">June 2012</h4>

                    <p class="text-black-05">June 11 &nbsp;&nbsp; &nbsp;Employees – who work for tips. If you received $20 or more in tips during May, report them to your employer. You can use Form 4070.
                    </p>

                    <p class="text-black-05">June 15 &nbsp;&nbsp; &nbsp;Individuals – If you are a U.S. citizen or resident alien living and working (or on military duty) outside the United States and Puerto Rico, file Form 1040 and pay any tax, interest, and penalties due. Otherwise,
                        see April 17. If you want additional time to file your return, file Form 4868 to obtain 4 additional months to file. Then file Form 1040 by October 15.</p>
                    <p class="text-black-05">However, if you are a participant in a combat zone you may be able to further extend the filing deadline.</p>
                    <p class="text-black-05">Individuals – Make a payment of your 2012 estimated tax if you are not paying your income tax for the year through withholding (or will not pay in enough tax that way). Use Form 1040-ES. This is the second installment date for estimated
                        tax in 2012.</p>
                    <p class="text-black-05">Corporations – Deposit the second installment of estimated income tax for 2012. A worksheet, Form 1120-W, is available to help you estimate your tax for the year.</p>
                    <p class="text-black-05">Employers – Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in May.</p>
                    <p class="text-black-05">Employers – Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in May.</p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">July 2012</h4>
                    <p class="text-black-05">July 10 Employees &nbsp; who work for tips. If you received $20 or more in tips during June, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">July 16 Employers &nbsp; Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in June.</p>
                    <p class="text-black-05">Employers &nbsp; Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in June.</p>
                    <p class="text-black-05">July 31 Employers &nbsp; Social Security, Medicare, and withheld income tax. File form 941 for the second quarter of 2012. Deposit any undeposited tax. (If your tax liability is less than $2,500, you can pay it in full with a timely
                        filed return.) If you deposited the tax for the quarter in full and on time, you have until August 10 to file the return.</p>
                    <p class="text-black-05">Employers &nbsp; Federal Unemployment Tax. Deposit the tax owed through June if more than $500.</p>
                    <p class="text-black-05">Employers &nbsp; If you maintain an employee benefit plan, such as a pension, profit sharing, or stock bonus plan, file Form 5500 or 5500-EZ for calendar year 2011. If you use a fiscal year as your plan year, file the form by the last
                        day of the seventh month after the plan year ends.</p>
                    <p class="text-black-05">Certain Small Employers &nbsp; Deposit any undeposited tax if your tax liability is $2,500 or more for 2012 but less than $2,500 for the second quarter.
                    </p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">August 2012</h4>
                    <p class="text-black-05">August 10 Employers &nbsp; Social Security, Medicare, and withheld income tax. File form 941 for the second quarter of 2012. This due date applies only if you deposited the tax for the quarter in full and on time.</p>
                    <p class="text-black-05">Employees &nbsp; who work for tips. If you received $20 or more in tips during July, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">August 15 Employers &nbsp; Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in July.</p>
                    <p class="text-black-05">Employers &nbsp; Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in July.</p>
                    <b></b>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal"></div>
            <div class="unit-body">
                <h4 class="text-black">September 2012</h4>
                <p class="text-black-05">September 10 Employees &nbsp; who work for tips. If you received $20 or more in tips during August, report them to your employer. You can use Form 4070.</p>
                <p class="text-black-05">September 17 Partnerships &nbsp; File a 2011 calendar year return (Form 1065). This due date applies only if you were given an additional 5-month extension. Provide each partner with a copy of Schedule K-1 (Form 1065) or a substitute K-1.
                </p>
                <p class="text-black-05">Individuals &nbsp; Make a payment of your 2012 estimated tax if you are not paying your income tax for the year through withholding (or will not pay in enough tax that way). Use Form 1040-ES. This is the third installment date for estimated
                    tax in 2012.</p>
                <p class="text-black-05">Corporations &nbsp; File a 2011 calendar year income tax return (Form 1120) and pay any tax due. This due date applies only if you timely requested an automatic 6-month extension. Otherwise, see March 15.</p>
                <p class="text-black-05">S Corporations &nbsp; File a 2011 calendar year income tax return (Form 1120S) and pay any tax due. This due date applies only if you timely requested an automatic 6-month extension. Otherwise, see March 15. Provide each shareholder with
                    a copy of Schedule K-1 (Form 1120S) or a substitute Schedule K-1.</p>
                <p class="text-black-05">Corporations &nbsp; Deposit the third installment of estimated income tax for 2012. A worksheet, Form 1120-W, is available to help you make an estimate of your tax for the year.</p>
                <p class="text-black-05">Employers &nbsp; Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in August.</p>
                <p class="text-black-05">Employers &nbsp; Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in August.</p> <br>

            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">October 2012</h4>
                    <p class="text-black-05">October 10 Employees &nbsp; who work for tips. If you received $20 or more in tips during September, report them to your employer. You can use Form 4070.
                    </p>
                    <p class="text-black-05">October 15 Individuals &nbsp; If you have an automatic 6-month extension to file your income tax return for 2011, file Form 1040, 1040A, or 1040EZ and pay any tax, interest, and penalties due.</p>
                    <p class="text-black-05">Electing Large Partnerships &nbsp; File a 2011 calendar year return (Form 1065-B). This due date applies only if you were given an additional 6-month extension. See March 15 for the due date for furnishing the Schedules K-1 to the
                        partners.
                    </p>
                    <p class="text-black-05">Employers &nbsp; Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in September.</p>
                    <p class="text-black-05">Employers &nbsp; Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in September.</p>
                    <p class="text-black-05">October 31 Employers &nbsp; Social Security, Medicare, and withheld income tax. File form 941 for the third quarter of 2012. Deposit any undeposited tax. (If your tax liability is less than $2,500, you can pay it in full with a timely
                        filed return.) If you deposited the tax for the quarter in full and on time, you have until November 13 to file the return.</p>
                    <p class="text-black-05">Certain Small Employers &nbsp; Deposit any undeposited tax if your tax liability is $2,500 or more for 2012 but less than $2,500 for the third quarter.</p>
                    <p class="text-black-05">Employers &nbsp; Federal Unemployment Tax. Deposit the tax owed through September if more than $500.</p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">November 2012</h4>
                    <p class="text-black-05">November 01 Employers &nbsp; Income Tax Withholding. Ask employees whose withholding allowances will be different in 2013 to fill out a new Form W-4.</p>
                    <p class="text-black-05">November 13 Employers &nbsp; Social Security, Medicare, and withheld income tax. File form 941 for the third quarter of 2012. This due date applies only if you deposited the tax for the quarter in full and on time.</p>
                    <p class="text-black-05">Employees &nbsp; who work for tips. If you received $20 or more in tips during October, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">November 15 Employers &nbsp; Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in October.</p>
                    <p class="text-black-05">Employers &nbsp; Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in October.</p>
                    <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <h4 class="text-black">December 2012</h4>
                    <p class="text-black-05">December 10 &nbsp;&nbsp; &nbsp;Employees – who work for tips. If you received $20 or more in tips during November, report them to your employer. You can use Form 4070.</p>
                    <p class="text-black-05">December 17 &nbsp;&nbsp; &nbsp;Corporations – Deposit the fourth installment of estimated income tax for 2012. A worksheet, Form 1120-W, is available to help you estimate your tax for the year.</p>
                    <p class="text-black-05">Employers – Social security, Medicare, and withheld income tax. If the monthly deposit rule applies, deposit the tax for payments in November.</p>
                    <p class="text-black-05">Employers – Nonpayroll withholding. If the monthly deposit rule applies, deposit the tax for payments in November.</p> <br>
                </div>
            </div>
        </div>



    </div>

</section>