<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Litigation Support</h3>
        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">Many times we find that financial facts cannot speak for themselves. They are complex and need to be interpreted in a way that makes them clear to attorneys. We believes that one of our most important roles is to work with businesses on
                    forensic accounting matters or attorneys on litigation matters to help them understand the financial facts related to their case. With this understanding, as well as being able to partner with a financial expert who can clearly present
                    and translate these facts at trial, the attorney or business owner is better prepared to build his or her case.</p>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">Areas of support offered:</h4>
                <li class="text-black-05">Accounting</li>
                <li class="text-black-05">Bankruptcy</li>
                <li class="text-black-05">Business disputes</li>
                <li class="text-black-05">Business interruption</li>
                <li class="text-black-05">Commercial litigation</li>
                <li class="text-black-05">Corporate damages</li>
                <li class="text-black-05">Economic damages &amp; losses</li>
                <li class="text-black-05">Estate &amp; trust</li>
                <li class="text-black-05">Financial analysis</li>
                <li class="text-black-05">Forensic analysis &amp; investigation</li>
                <li class="text-black-05">Fraud</li>
                <li class="text-black-05">Lost profits</li>
                <li class="text-black-05">Real estate</li>
                <li class="text-black-05">Taxation</li>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">How can we be of assistance?</h4>
                <p class="text-black-05">We see our role as someone who can look beyond the numbers and deal with the business reality of the situation and interpret them in a way that judges, juries or business owners can understand. The following are examples of areas that
                    NileCPA can provide valuable service:</p>
                <li class="text-black-05">Assisting in obtaining and analyzing documentation necessary to support or refute a claim</li>
                <li class="text-black-05">Reviewing and analyzing the relevant facts and supporting documentation to form a financial expert assessment of the claim</li>
                <li class="text-black-05">Assisting with discovery process, including the formation of questions to be asked regarding the financial evidence</li>
                <li class="text-black-05">Reviewing of the opposing expert’s report and reporting on both the strengths and weaknesses of the positions taken</li>
                <li class="text-black-05">Acting as expert financial witness, during deposition process and at trial</li>
                <li class="text-black-05">Assisting with settlement discussions and negotiations</li>
                <li class="text-black-05">Attending trial to hear the testimony of the opposing expert and to provide assistance with cross-examination</li>

                <p class="text-black-05">
                    If you are involved in litigation or feel there may be a situation of fraudulent accounting in your business please contact us we can help.</p> <br>
            </div>
        </div>

    </div>
</section>