<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Small Business Services</h3>
        <h4> ACCOUNTING & BOOKKEEPING</h4>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">As a small business owner you have more important things to do than to keep your own books. We take care of your books for you, so you can get back to the job of running your business and generating profits. <br> Each month or quarter
                    we’ll do the following things for you…</p>
                <li class="text-black-05">Reconcile your bank account</li>
                <li class="text-black-05">Generate an income statement</li>
                <li class="text-black-05">Generate a balance sheet</li>
                <li class="text-black-05">Clean up your general ledger</li>
                <li class="text-black-05">Provide unlimited consultations</li>
                <p class="text-black-05">
                    These tasks form the solid foundation of your small business accounting system. You can customize the package of services you receive by adding payroll, tax planning, tax preparation, or any of our other services.</p>
                <br>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">Bank Reconciliation</h4>
                <p class="text-black-05">
                    Reconciling your business checking account each month allow us to keep your bank account, accounting, and taxes up-to-date. <br> Having us reconcile your account each month allows you to…</p>
                <li class="text-black-05"> Identify lost checks, lost deposits and unauthorized wire transactions.</li>
                <li class="text-black-05">Detect and prevent excess/unjustified bank charges and ensures transactions are posted correctly by your bank.</li>
                <li class="text-black-05">Detect and prevent embezzlement of funds from within your company.</li>
                <li class="text-black-05">Know how your business is doing? You can’t really know unless all accounts are reconciled and properly accounted for on your financial statement.</li>
                <li class="text-black-05">Manage your cash more effectively. Proper management of funds not only saves money, it makes money for you.</li>
                <li class="text-black-05">Protect yourself. By timely reconciling and promptly objecting to your bank about any unauthorized, fraudulent or forged checks presented to your bank and paid by that bank, you can relieve your agency of responsibility for the shortfall
                    and transfer the risk to the bank. This reason to reconcile alone should be enough. Crime exists.</li>
                <li class="text-black-05">Sleep Better. You will sleep more peacefully at night knowing your bank accounts are reconciled, in balance and that all escrow funds, accounts, checks and disbursed funds are properly accounted for.</li>
                <br>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">Income Statement</h4>
                <p class="text-black-05">An income statement, otherwise known as a profit and loss statement, basically adds an itemized list of all your revenues and subtracts an itemized list of all your expenses to come up with a profit or loss for the period. <br>An income
                    statement allows you to…</p>
                <li class="text-black-05">Track revenues and expenses so that you can determine the operating performance of your business.</li>
                <li class="text-black-05">Determine what areas of your business are over-budget or under-budget.</li>
                <li class="text-black-05">Identify specific items that are causing unexpected expenditures. Like phone, fax, mail, or supply expenses.</li>
                <li class="text-black-05">Track dramatic increases in product returns or cost of goods sold as a percentage of sales.</li>
                <li class="text-black-05">Determine your income tax liability.</li>
                <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4> Balance Sheet</h4>
                <p class="text-black-05">A balance sheet gives you a snapshot of your business’ financial condition at a specific moment in time. <br> A balance sheet helps you…</p>
                <li class="text-black-05">Quickly get a handle on the financial strength and capabilities of your business.</li>
                <li class="text-black-05">Identify and analyze trends, particularly in the area of receivables and payables. For example, if your receivables cycle is lengthening, maybe you can collect your receivables more aggressively.</li>
                <li class="text-black-05">Determine if your business is in a position to expand.</li>
                <li class="text-black-05">Determine if your business can easily handle the normal financial ebbs and flows of revenues and expenses?</li>
                <li class="text-black-05">Determine if you need to take immediate steps to bolster cash reserves?</li>
                <li class="text-black-05">Determine if your business has been slowing down payables to forestall an inevitable cash shortage?</li>
                <p class="text-black-05">Balance sheets, along with income statements, are the most basic elements in providing financial reporting to potential lenders such as banks, investors, and vendors who are considering how much credit to grant you.</p> <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4> Maintaining a Clean General Ledger</h4>
                <p class="text-black-05">The general ledger is the core of your company’s financial records. These records constitute the central “books” of your system. Since every transaction flows through the general ledger, a problem with your general ledger throws off all
                    your books. <br> Having us review your general ledger system each month allows us to hunt down any discrepancies such as double billings or any unrecorded payments. Then we’ll fix the discrepancies so your books are always accurate
                    and kept in tip top shape.</p> <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4> Unlimited Consultations</h4>
                <p class="text-black-05">We are always available to spend time with you so you fully understand how to interpret and utilize the financial information we provide. Our consultations are already included in our price, so please feel free to call us whenever you
                    have a question or concern. <br> If you’d like to receive a Free Consultation on our Small Business Accounting Service, please complete this form. <br>
                </p>
            </div>
        </div>

    </div>
</section>