<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>About Us</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <div>
            <h3 class="text-center">About us</h3>
            <p class="text-center">Our Firm Offers Dedicated Support Through Professionalism & Responsiveness
                <br>
            </p>


            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-body">
                    <br>
                    <p class="text-black-05">Our firm provides outstanding service to our clients because of our dedication to the three underlying principles of professionalism, responsiveness and quality.
                    </p> <br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-briefcase-2"></span></div>
                <div class="unit-body">
                    <h4 class="text-black">Professionalism</h4>
                    <p class="text-black-05">Our firm is one of the leading firms in the area. By combining our expertise, experience and the energy of our staff, each client receives close personal and professional attention. Our high standards, service and specialized staff
                        spell the difference between our outstanding performance, and other firms. We make sure that every client is served by the expertise of our whole firm.</p> <br>
                </div>
            </div>


            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-support"></span>
                </div>
                <div class="unit-body">
                    <h4 class="text-black">Responsiveness</h4>
                    <p class="text-black-05">Our firm is responsive. Companies who choose our firm rely on competent advice and fast, accurate personnel. We provide total financial services to individuals, large and small businesses and other agencies.</p>
                    <p class="text-black-05">To see a listing of our services, please take a moment and look at our services page. Because we get new business from the people who know us best, client referrals have fueled our growth in the recent years</p>
                    <p class="text-black-05">Through hard work, we have earned the respect of the business and financial communities. This respect illustrates our diverse talents, dedication and ability to respond quickly.</p><br>
                </div>
            </div>

            <div class="unit unit-xs unit-xs-horizontal">
                <div class="unit-left"><span class="icon icon-primary icon-lg-bigger thin-icon-time"></span>
                </div>
                <div class="unit-body">
                    <h4 class="text-black">Quality</h4>
                    <p class="text-black-05">An accounting firm is known for the quality of its service. Our firm’s reputation reflects the high standards we demand of ourselves. Our primary goal as a trusted advisor is to be available to provide insightful advice to enable our
                        clients to make informed financial decisions. We do not accept anything less from ourselves and this is what we deliver to you.</p>
                    <p class="text-black-05">We feel it is extremely important to continually professionally educate ourselves to improve our technical expertise, financial knowledge and service to our clients. Our high service quality and “raving fan” clients are the result
                        of our commitment to excellence. We will answer all of your questions, as they impact both your tax and financial situations. We welcome you to contact us anytime.</p>
                    <p class="text-black-05">NileCPA is seeking professional, hard-working, licensed CPAs with at least four years of experience. The Firm demands independence, integrity, objectivity, competence and due care from all of its personnel in the conduct of its engagements.
                        Our Firm is structured to provide leadership in achieving high quality professional performance while maintaining the concept of individual responsibility. Policies and procedures have been established providing assurance that
                        professional engagements are properly planned and executed. Decisions are based on the substance of issues, not on form.</p>
                    <p class="text-black-05">Our policies and procedures designate Partners of the Firm for consultation on significant ethical, technical and industry questions. The policies and procedures are designed to assure that clients receive the best professional services
                        we can provide. We continually keep in mind the public interest. We expect our Partners and Associates to identify and resolve all important engagement issues.</p>
                    <p class="text-black-05">The job requires high level tax preparation skills, superior tax research and problem solving abilities, broad software knowledge, and excellent written and oral communication skills. We have a team approach to provide high quality
                        client service for tax compliance, planning, financial statements, and general business consulting.</p>
                </div>
            </div>


        </div>

    </div>
</section>