<section class="section-60 section-md-top-90 section-md-bottom-100">
    <div class="container">
        <div class="row justify-content-sm-center justify-content-lg-start row-50">
            <div class="col-lg-7 col-xl-6">
                <h3>Get in <span class="text-thin">Touch</span></h3>
                <form class="rd-mailform form-modern" data-form-output="form-output-global" data-form-type="contact" method="post" action="../../external.html?link=https://livedemo00.template-help.com/wt_prod-12801/bat/rd-mailform.php">
                    <div class="row row-30">
                        <div class="col-md-6">
                            <div class="form-wrap">
                              <input class="form-input" id="contact-name" type="text" placeholder="Name" name="name" data-constraints="@Required">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-wrap">
                                <input class="form-input" id="contact-email" type="email" name="email" placeholder="Email" data-constraints="@Email @Required">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-wrap">
                                <div class="textarea-lined-wrap">
                                    <textarea class="form-input" id="contact-message" placeholder="Message" name="message" data-constraints="@Required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <button class="btn btn-primary btn-block" type="submit">Send</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-silver-outline btn-block" type="reset">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-1 d-none d-xl-inline-block"></div>
            <div class="col-lg-5 col-xl-4">
                <div class="row row-40">
                    <div class="col-md-10 col-lg-12">
                        <h3>How to <span class="text-thin">Find Us</span></h3>
                        <p class="text-secondary">
                            If you have any questions, just fill in the contact form, and we will answer you shortly. If you live nearby, come visit us.

                        </p>
                    </div>
                    <div class="col-md-6 col-lg-12">
                        <h4>Location</h4>
                        <address class="contact-info">
          <p class="text-uppercase">17727 1/2  Chatsworth St, <br>Granada Hills, CA 91344</p>
          <dl class="list-terms-inline">
            <dt>Telephone</dt>
            <dd><a class="link-secondary" href="tel:+1 (818) 602-6123"> +1 (818) 602-6123</a></dd>
          </dl>
          <dl class="list-terms-inline">
            <dt>Fax</dt>
            <dd><a class="link-primary" href="fax:#">818 921 6102</a></dd>
          </dl>
          <dl class="list-terms-inline">
            <dt>E-mail</dt>
            <dd><a class="link-primary" href="mailto:Accounting@nilecpa.com">Accounting@nilecpa.com</a></dd>
          </dl>
        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
