<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>RESOURCES</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <div class="row row-40">
            <div class="col-12">
                <h3 class="text-center">IRS FORMS & PUBLICATIONS</h3>
            </div>
            <div class="col-12">
                <div class="row justify-content-sm-center text-center text-lg-left row-60">
                    <div class="col-md-10 col-lg-4">
                        <a href="https://www.irs.gov/individuals" target="_blank">
                            <div class="thumbnail-with-img">
                                <img src="images/individual-form.jpg" alt="" width="370" height="220" />
                                <h6 class="thumbnail-title">Individual Forms & Publications</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <a href="http://www.irs.gov/charities/index.html" target="_blank">
                            <div class="thumbnail-with-img"><img src="images/charity.jpg" alt="" width="370" height="220" />
                                <h6 class="thumbnail-title">Charity Forms & Publications</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-10 col-lg-4">
                        <a href="http://www.irs.gov/businesses/index.html" target="_blank">
                            <div class="thumbnail-with-img"><img src="images/business-form.jpg" alt="" width="370" height="220" />
                                <h6 class="thumbnail-title">Business Forms & Publications</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>