<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Blog</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <div class="row row-40">
            <div class="col-12">
                <h3 class="text-center">Blog</h3>
            </div>
            <div class="col-12">
                <div class="row justify-content-sm-center text-center text-lg-left row-60">
                    <div class="col-md-10 col-lg-4">
                        <a href="irs-loses-law-suit.html" target="_blank">
                            <div class="thumbnail-with-img">
                                <img src="images/irs-building.jpg" alt="" width="370" height="220" />
                                <h6 class="thumbnail-title">IRS LOOSES LAW SUIT TO TAX PREPARERS!</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>