<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(../../assets/images/bg-image-1);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <div class="row row-40">
            <div class="col-12">
                <h3 class="text-center">Services</h3>
                <h4 class="text-center text-thin">We Offer a Broad Range of Services to help clients secure a Sound Financial Future</h4>
                <p class="text-center">Welcome to NileCPA! If you are looking for a blend of personal service and expertise, you have arrived! We offer a broad range of services for Local governments, Non Profit organizations, business owners, executives and independent professionals.
                    Our rates are affordable. We are experienced and we’re friendly. Please call us for a free initial consultation. Our services encompass nearly every aspect of financial life. We are experienced in all matters of accounting and taxation,
                    IRS problem resolution, audits, reviews and compilations, business formation, financial planning and investment, real estate and business sales. Our firm’s reputation for providing quality service reflects the high standards we demand
                    of ourselves. Our high standards, responsive service and specialized staff spell the difference between our firm and the rest. Please call us for a free initial consultation.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section parallax-container bg-black bg-image context-dark" data-parallax-img="images/our-services.jpg">
    <div class="parallax-content">
        <div class="section-60 section-md-90 bg-overlay-cello">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="text-thin">Our Services Include
                        </h3>
                    </div>
                </div>
                <div class="row row-50">
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-document-edit"></span></div>
                                <div class="unit-body">
                                    <h4><a routerLink="individual-tax">Individual tax services</a></h4>

                                    <li class="text-white-05"><a routerLink="irs-representation">IRS Representation</a> </li>

                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <article class="icon-box-vertical icon-box-vertical-sm">
                            <div class="unit flex-column unit-spacing-sm">
                                <div class="unit-left"><span class="icon icon-primary icon-lg thin-icon-user"></span></div>
                                <div class="unit-body">
                                    <h4><a routerLink="small-business">Small business services</a></h4>
                                    <li class="text-white-05">
                                        <a routerLink="litigation-support">Litigation Support</a> </li>

                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-6 col-lg-4 ">
                        <article class="icon-box-vertical icon-box-vertical-sm ">
                            <div class="unit flex-column unit-spacing-sm ">
                                <div class="unit-left "><span class="icon icon-primary icon-lg thin-icon-planet "></span></div>
                                <div class="unit-body ">
                                    <h4><a routerLink="non-profit">Non-profit</a></h4>

                                    <li class="text-white-05 "><a routerLink="conflict-of-interest">Conflict Of Interest Policy
                                            (Sample)</a> </li>
                                    <li class="text-white-05 "><a routerLink="form-definition">Form 1023 Definitions & Terms</a>
                                    </li>
                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-6 col-lg-4 ">
                        <article class="icon-box-vertical icon-box-vertical-sm ">
                            <div class="unit flex-column unit-spacing-sm ">
                                <div class="unit-left "><span class="icon icon-primary icon-lg thin-icon-money "></span></div>
                                <div class="unit-body ">
                                    <h4><a routerLink="compilation-reviews">Compilations Reviews & Audits</a></h4>
                                </div>
                            </div>
                        </article>

                    </div>
                    <div class="col-sm-6 col-lg-4 ">
                        <article class="icon-box-vertical icon-box-vertical-sm ">
                            <div class="unit flex-column unit-spacing-sm ">
                                <div class="unit-left "><span class="icon icon-primary icon-lg thin-icon-thumb-up "></span></div>
                                <div class="unit-body ">
                                    <h4><a routerLink="tax">Tax</a></h4>
                                    <li class="text-white-05 "><a href="irs-problem" routerLink="irs-problem">IRS Problem Resolution</a> </li>
                                </div>
                            </div>
                        </article>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>