<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">IRS REPRESENTATION</h3>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">
                    Professional representation can be imperative during a tax audit, and our experience with tax authorities enables us to guide clients in their dealings with federal and state agencies. We have represented many clients over the years before the IRS and
                    have successfully assisted clients to minimize their tax liabilities.</p>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">We offer a variety of audit and related services that include the following:</p> <br>

                <li class="text-black-05">Amending Prior Year Returns</li>
                <li class="text-black-05">Filing Delinquent Returns</li>
                <li class="text-black-05">Innocent Spouse Relief</li>
                <li class="text-black-05">Tax Notice Consultation</li>
                <li class="text-black-05">Debt Cancellation</li>
                <br>

                <p class="text-black-05">We can help you improve your status with the IRS and other revenue agencies and attain compliance.</p> <br>


            </div>
        </div>




    </div>
</section>