<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Individual Tax Services</h3>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">Tax Return Preparation</h4>
                <p class="text-black-05">
                    For your tax returns, you want a CPA firm you know you can rely on. We will make sure your federal and state income tax returns, property tax returns and trust and estate tax returns are filed right. Our dedicated tax group is trusted by doctors, lawyers,
                    investors, executives and other professionals and high net-worth individuals.</p>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <h4 class="text-black">Tax Planning and Compliance</h4>
                <p class="text-black-05">Tax planning for individuals is an important aspect of family wealth and retirement planning. Regardless of your background, the type of work you do, or your economic status, planning for your future and the futures of your children is
                    something you must do throughout your life.</p><br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">We take pride in not just filing income tax returns for our clients, but helping them plan for a better financial future. Our professionals can help you with estate planning and assist you with a host of strategies to maximize your tax
                    benefits.
                </p> <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">

                <p class="text-black-05">To provide the best tax advice, it is vital to understand where our clients are today and where they are going. By gaining this understanding of your goals and objectives, we can work with you to design tax planning strategies geared to
                    help you achieve your short- and long-term goals.</p> <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">Our services include:</p> <br>

                <li class="text-black-05">Personal tax return preparation</li>
                <li class="text-black-05">Succession planning</li>
                <li class="text-black-05">Charitable giving</li>
                <li class="text-black-05">Executive compensation</li>
                <li class="text-black-05">Family estate and gift planning</li>
                <li class="text-black-05">Retirement planning</li>
                <li class="text-black-05">Year-end tax planning</li>
                <br>

                <p class="text-black-05">For more information about our range of services for individuals, feel free to call us on <a href="tel:+1 (818) 602-6123"> +1 (818)
                    602-6123</a> or email us at <a href="mailto:Accounting@nilecpa.com">Accounting@nilecpa.com</a></p> <br>


            </div>
        </div>




    </div>

</section>