<section class="section-30 section-md-40 section-lg-66 section-xl-bottom-90 bg-gray-dark page-title-wrap" style="background-image: url(images/bg-image-1.jpg);">
    <div class="container">
        <div class="page-title">
            <h2>Services</h2>
        </div>
    </div>
</section>

<section class="section-60 section-md-90">
    <div class="container">
        <h3 class="text-center">Non Profit</h3>
        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">NileCPA has done and continues to do work for many non-profit organizations, primarily doing audits and compilations. The types of non-profits served are health and welfare organizations, those that are subject to governmental auditing
                    standards, and those, for example charter schools, that have to comply with Governmental Accounting Standards Board (GASB) 34 because they are a component unit of a school district.</p>
                <br>
            </div>
        </div>


        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black-05">Non-Profit organizations that receive federal grants of more than $500,000 in any fiscal year are subject to the single audit requirements. Also commonly known as the Single Audit, or the OMB A-133 audit which is a rigorous, organization-wide
                    audit or examination of an entity that expends $500,000 or more of Federal assistance (commonly known as Federal funds, Federal grants, or Federal awards) received for its operations</p>
                <p class="text-black-05">Non-Profits are required to file tax return form 990, which is due 4 and a half months after fiscal year end. For example, an organization that has a December 31st fiscal year end would be required to file by May 15th of the following
                    year.
                </p>
                <p class="text-black-05">Our consulting services include working with non-profits in the following areas:</p>
                <li class="text-black-05">Developing an accounting procedures manual</li>
                <li class="text-black-05">Developing proper internal accounting control procedures</li>
                <li class="text-black-05">Assisting in chart of accounts setup</li>
                <li class="text-black-05">Applications for non-profit status with the IRS</li>
                <li class="text-black-05">Compliance with Federal requirements to protect the organization’s nonprofit tax-exempt status</li>
                <li class="text-black-05">Accounting system design and development of accounting procedures and practices for nonprofit organizations</li>
                <li class="text-black-05">Development and documentation of internal controls for nonprofits </li>
                <li class="text-black-05">Establishment of an applicable chart of accounts including funds</li>
                <li class="text-black-05">Set up of requisite financial reports for nonprofits</li>
                <li class="text-black-05">Selection of appropriate software for nonprofit organizations</li>
                <li class="text-black-05">Training in the use of the not-for-profit software</li>
                <li class="text-black-05">Bookkeeping</li>
                <li class="text-black-05">Financial, treasury, and managerial reports</li>
                <li class="text-black-05">Payroll services</li>
                <li class="text-black-05">Assistance in structuring executive compensation</li>
                <li class="text-black-05">Indirect cost administration</li>
                <li class="text-black-05">Grant compliance</li>
                <li class="text-black-05">Employee benefit plans consulting and administration</li>
                <li class="text-black-05">Consulting services to boards of directors of nonprofit organizations</li>
                <li class="text-black-05"> Human resources management</li>
                <li class="text-black-05">And much more</li>
                <p class="text-black-05">Client Services:</p>
                <p class="text-black-05">Audits:</p>
                <p class="text-black-05">Non-profit organizations that receive federal, state, or local assistance in the form of grants, or those that seeking such assistance<br /> Charter Schools<br /> Health and welfare organization<br /> Private schools that receive state
                    vouchers and scholarships</p>
                <p class="text-black-05">Compilations:</p>
                <p class="text-black-05">All entities which do not have in-house accounting staff (i.e., a church)</p>
                <br>
            </div>
        </div>

        <div class="unit unit-xs unit-xs-horizontal">
            <div class="unit-body">
                <p class="text-black">
                    <span class="font-weight-bold">Non-profit resources</span>
                </p> <br>
                <ul>
                    <li>
                        <a href="http://form1023.org/conflict-of-interest-policy-and-agreement" target="_blank">
                            Conflict of Interest Policy
                        </a>
                    </li> <br>
                    <li>
                        <a href="http://form1023.org/how-to-draft-articles-of-incorporation" target="_blank">
                            Sample Non- Profit Articles Of Incorporation
                        </a>
                    </li> <br>
                    <li>
                        <a href="http://form1023.org/how-to-draft-bylaws-with-examples" target="_blank">
                            Sample Non- Profit Bylaws
                        </a>
                    </li> <br>
                    <li>
                        <a href="http://form1023.org/form-1023-checklist" target="_blank">
                            Form 1023 Checklist
                        </a>
                    </li> <br>
                    <li>
                        <a href="http://form1023.org/irs-definition-of-terms" target="">
                         Definition of terms </a>
                    </li>
                </ul><br>
            </div>
        </div>

    </div>

</section>